{% extends 'index.html' %}

{% block content %}

<div style="margin-top: 60px;"></div>
<form method="POST">
    <div style="display: flex; align-items: center;">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-light" name="pesquisar" value="Pesquisar">
        <div style="flex-grow: 1;"></div>
        <input type="submit" class="btn btn-warning" name="imprimir" value="Imprimir">
    </div>
</form>


<div class="row">
    {% for cliente_nome, dados_cliente in pedidos_agregados.items %}
        <div class="col-md-4">
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ cliente_nome }}</h5>
                    <div class="card-text"><b>ID: </b>{% if dados_cliente.id_pedido %}{{ dados_cliente.id_pedido }}{% endif %}</div>
                    <div class="card-text"><b>Telefone: </b>{% if dados_cliente.telefone %}{{ dados_cliente.telefone }}{% endif %}</div>
                    <div class="card-text"><b>Data de Locação: </b>{{ dados_cliente.data_locacao_formatada }}</div>
                    <div class="card-text"><b>Endereço: </b>{% if dados_cliente.endereco %}{{ dados_cliente.endereco }}{% endif %}</div>
                    <div class="card-text"><b>Local: </b>{% if dados_cliente.local %}{{ dados_cliente.local }}{% endif %}</div>
                    <div class="card-text"><b>Observação: </b>{% if dados_cliente.observacao %}{{ dados_cliente.observacao }}{% endif %}</div>

                    <div class="card-text">
                        <b>Produtos Alugados:</b>
                        <div id="produtos-limitados-{{ forloop.counter }}">
                            {% for produto in dados_cliente.produtos|slice:":1" %}
                                <div> {{ produto }} </div>
                            {% endfor %}
                        </div>
                        {% if dados_cliente.produtos|length > 1 %}
                            <div id="produtos-completos-{{ forloop.counter }}" style="display: none;">
                                {% for produto in dados_cliente.produtos %}
                                    <div> {{ produto }} </div>
                                {% endfor %}
                            </div>
                            <button type="button" class="btn btn-outline-warning" onclick="toggleProdutos({{ forloop.counter }});">Mais...</button>
                        {% endif %}
                    </div>

                    <!-- Formulários com botões na horizontal -->
                    <div class="d-flex gap-2">
                        <!-- Formulário Deletar -->
                        <form method="POST">
                            {% csrf_token %}
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{ forloop.counter }}">
                                Deletar
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal{{ forloop.counter }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ forloop.counter }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">ATENÇÃO</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Você tem certeza que deseja deletar este pedido?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>

                                            <input type="hidden" name="nome" value="{{ cliente_nome }}">
                                            <input type="hidden" name="data" value="{{ dados_cliente.data_locacao_formatada }}">
                                            <input type="hidden" name="id_pedido" value="{{ dados_cliente.id_pedido }}">
                                            <input type="submit" class="btn btn-danger" name="delete_itens" value="Sim">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <!-- Formulário Editar -->
                        <form method="POST">
                            {% csrf_token %}

                            <!-- Campos ocultos para nome e data -->
                            <input type="hidden" name="nome" value="{{ cliente_nome }}">
                            <input type="hidden" name="data" value="{{ dados_cliente.data_locacao_formatada }}">
                            <input type="hidden" name="id_pedido" value="{{ dados_cliente.id_pedido }}">
                            <!-- Campo oculto para indicar ação de editar -->
                            <input type="hidden" name="editar_itens" value="true">

                            <!-- Botão Editar -->
                            <button type="submit" class="btn btn-info">
                                Editar
                            </button>
                        </form>
                    </div>
                    <!-- Fim dos botões na horizontal -->
                </div>
            </div>
        </div>
    {% endfor %}
</div>


<!-- Mostra o somatório de produtos -->
<div class="mt-3">
    <b>Detalhes dos Produtos:</b>
    <br>
    <div>
        {% for item in novo_resultado %}
            <div>
                <p><strong>{{ item.0 }} - {{ item.1 }}:</strong> {{ item.2 }}  |  <strong>Restam:</strong> {{ item.3 }}</p>
            </div>
        {% endfor %}
    </div>
</div>
<script>
    function toggleProdutos(index) {
        var produtosLimitados = document.getElementById("produtos-limitados-" + index);
        var produtosCompletos = document.getElementById("produtos-completos-" + index);

        if (produtosCompletos.style.display === "none") {
            produtosCompletos.style.display = "block";
            produtosLimitados.style.display = "none";
        } else {
            produtosCompletos.style.display = "none";
            produtosLimitados.style.display = "block";
        }
    }
</script>

{% endblock %}