<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sistema ASG</title>

    <!-- Referência ao Bootstrap local -->
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

  </head>

  <body>

    {% block menu %}{% endblock %}

    <!-- Referência ao jQuery local -->
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <!-- Referência ao Bootstrap local -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <!-- Referência ao Inputmask local -->
    <script src="{% static 'js/jquery.inputmask.min.js' %}"></script>

    <!-- Referência ao jQuery UI local -->
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>

    <!-- DataPicker específico para PT-BR -->
    <script src="{% static 'js/jquery-ui.datepicker-pt-BR.js' %}"></script>

  </body>
</html>