{% extends 'index.html' %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<nav class="navbar"  style="margin-top: 50px;" >
    <a class="navbar-brand" href="#">Cadastro do pedido</a>
</nav>

{% if resultado == 1 %}
    <div class="alert alert-success" role="alert">
        Pedido salvo com Sucesso
    </div>
{% elif resultado == 0 %}
    <div class="alert alert-danger" role="alert">
        Falha ao salvar o cadastro
    </div>
{% else %}
{% endif %}
<form class="row g-2" method="post">

    <div class="col-8">
        {% csrf_token %}
        {{ form.nome.label_tag }} {{ form.nome }} {{ form.nome.errors }}
    </div>

    <div class="col-md-0"></div>

    <div class="col-8">
        {% csrf_token %}
        {{ form.endereco.label_tag }} {{ form.endereco }} {{ form.endereco.errors }}
    </div>

    <div class="col-md-0"></div>

    <div class="col-4">
        {% csrf_token %}
        {{ form.telefone.label_tag }} {{ form.telefone }} {{ form.telefone.errors }}
    </div>

    <div class="col-4">
        {% csrf_token %}
        {{ form.local.label_tag }} {{ form.local }} {{ form.local.errors }}
    </div>

    <div class="col-md-0"></div>

    <div class="col-4">
        {% csrf_token %}
        {{ form.observacao.label_tag }} {{ form.observacao }} {{ form.observacao.errors }}
    </div>

    <div class="col-4">
        {% csrf_token %}
        {{ form.data_de_locacao.label_tag }} {{ form.data_de_locacao }} {{ form.data_de_locacao.errors }}
    </div>

    <div class="col-md-0"></div>

        <div class="col-4">

            {% csrf_token %}

            {{ form.itens_pedido.management_form }}
            {% for formset_form in form.itens_pedido.forms %}
                {{ formset_form.as_table }}
            {% endfor %}

        </div>

        <div class="col-md-0"></div>

        <div class="col-2">
            <p></p>
            <input type="submit" class="btn btn-primary" name="save_itens" value="Salvar Itens">
            <input type="submit" class="btn btn-success" name="save_pedido" value="Salvar Pedido">
        </div>
    </div>

</form>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Produto</th>
    </tr>
  </thead>
   <tbody>
            {% for item in lista_itens %}
                <tr>
                    <td>{{ item }}</td> <!-- Produto -->
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">Nenhum item cadastrado</td>
                </tr>
            {% endfor %}
        </tbody>
</table>

<script>

    function formatarTelefone(input) {
    let telefone = input.value.replace(/\D/g, ''); // Remove caracteres não numéricos

    if (telefone.length === 11) {
        // Formato para telefone com DDD (11 dígitos)
        telefone = telefone.replace(/^(\d{2})(\d{5})(\d{4})$/, "($1) $2-$3");
    } else if (telefone.length === 10) {
        // Formato para telefone sem DDD (10 dígitos)
        telefone = telefone.replace(/^(\d{5})(\d{4})$/, "$1-$2");
    }

    input.value = telefone;
    }

        // Adiciona um ouvinte de evento para formatar o telefone quando o usuário digitar
        document.getElementById('tel').addEventListener('input', function() {
        formatarTelefone(this);

    });

</script>

{% endblock %}